*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

body .main-title {
    padding-top: 60px;
    text-align: center;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: end;
    color: #13c1ac;
    height: 80px;
    padding: 0 2rem;
    border-bottom: 1px solid;
    border-color: #d1dbe0;
    z-index: 1001;
    transition: top 0.15s ease;
    top: 0;
    left: 0;
    right: 0;
}

.nav-bar li {
    list-style: none;
    display: flex;
}
.nav-bar a {
    text-decoration: none;
    padding: 8px 20px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #13c1ac;
    color: #13c1ac;
    cursor: pointer;
    white-space: nowrap;
    margin-left: 10px;
    border-radius: 20px;
}

.nav-bar a:hover {
    color: #fff;
    background-color: #13c1ac;
}

.nav-bar button {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    border: 0;
    padding: 8px 20px;
    background-color: #13c1ac;
    margin-left: 8px;
    height: 40px;
    color: #fff;
    display: flex;
    white-space: nowrap;
    border-radius: 20px;
    cursor: pointer;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
    width: 100%;
    padding: 80px 40px 20px;
    overflow: hidden;
    gap: 20px;
}

.product:hover {
    transform: translate(0, -6px);
}

.products-list > .product {
    width: 100%;
    max-width: 250px;
    height: 100%;
    max-height: 320px;
    background: #ffffff;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.25s ease;
    overflow: hidden;
}

.product .product-image_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image_container > img {
    max-height: 225px;
    width: 100%;
    object-fit: cover;
}

.product-text_container {
    padding: 10px;
    line-height: 1.6;
    font-size: 14px;
}

.product-text_container .product-price {
    font-weight: 500;
}

.product-text_container .product-status {
    font-weight: 300;
    color: rgb(61, 210, 186);
}

#loader {
    margin: 20px 0;
}

.loader-icon {
    width: 6rem;
    height: 6rem;
    border: 5px solid rgb(61, 210, 186);
    border-radius: 50%;
    border-top-color: rgb(32, 90, 80);
    animation: spinner 1.9s linear infinite;
}

.loader-icon {
    margin: 0 auto;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}
